{% extends '@Site/loyaut.html.twig' %}

{% block info %}

{% endblock %}

{% block content %}
    <div class="container">
        <h3>Наши Работы</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a href="{{ path('baltspecservis') }}">
                    <img class="img-fluid img-rounded" src="{{ asset('bundles/site/images/bs11.png') }}" alt="Балт Спец Сервис">
                    <small>Сайт под ключ для <br> "ООО БалтСпецСервис"</small>
                </a>


            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <img class="img-fluid img-rounded" src="{{ asset('bundles/site/images/bs11.png') }}" alt="Балт Спец Сервис">
                <small>Сайт "ООО БалтСпецСервис"</small>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <img class="img-fluid img-rounded" src="{{ asset('bundles/site/images/bs11.png') }}" alt="Балт Спец Сервис">
                <small>Сайт "ООО БалтСпецСервис"</small>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <img class="img-fluid img-rounded" src="{{ asset('bundles/site/images/bs11.png') }}" alt="Балт Спец Сервис">
                <small>Сайт "ООО БалтСпецСервис"</small>
            </div>
        </div>
    </div>

{% endblock %}

