{% extends '::base.html.twig' %}
{% block body %}

    <h1>{{ 'Users list'|trans }}</h1>

    <div class="right">
        <ul>
            <li>
                <a href="{{ path('users_new') }}">
                    {{ 'Create a new entry'|trans }}
                </a>
            </li>
        </ul>
    </div>
    <table class="records_list" id="myTable">
        <thead>
            <tr>

                <th>{{ 'En'|trans }}</th>
                <th>{{ 'Username'|trans }}</th>
                <th>{{ 'description'|trans }}</th>
                {#<th>Password</th>#}

                <th>{{ 'Email'|trans }}</th>
                {#<th>{{ 'description'|trans }}</th>#}
                {#<th>{{ "Avatar"|trans }}</th>#}
                <th>{{ 'Phone'|trans }}</th>
                <th class="actions">{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>

        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': entity.id }) }}">
                        {% if entity.enabled == 1 %}
                            <span>{{ 'yes'|trans }}</span>

                        {% else %}
                            <span>{{ 'no'|trans }}</span>

                        {% endif %}

                    </a></td>
                <td><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.userName }}</a></td>

                {#<td>{{ entity.username }}</td>#}
                {#<td>{{ entity.password }}</td>#}
                {% autoescape false %}
                <td style="max-width: 300px"> {{ entity.description|raw }}</td>
                {% endautoescape %}

                {#<td>#}
                    {#{% for key, rolers in roles %}#}
                        {#&#123;&#35;{% for role in entity.roles %}&#35;&#125;#}

                        {#{% if key  ==  entity.roles[0] %}#}

                            {#{{ rolers }}#}

                        {#{% endif %}#}
                        {#&#123;&#35;{% endfor %}&#35;&#125;#}
                    {#{% endfor %}#}
                {#</td>#}

                <td>{{ entity.email }}</td>
                {#<td>{{ entity.description }}</td>#}
                {#<td>{{ entity.avatar }}</td>#}
                <td>{{ entity.phone }}</td>
                <td>
                <ul>

                    <li>
                        <a href="{{ path('users_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
