{% extends '::base.html.twig' %}
{% block body %}

    <h1>{{ 'Users list'|trans }}</h1>

    <div class="right">
        <ul>
            <li>
                <a href="{{ path('users_new') }}">
                    {{ 'Create a new entry'|trans }}
                </a>
            </li>
        </ul>
    </div>
    <table class="records_list">
        <thead>
            <tr>

                <th>{{ 'Username'|trans }}</th>
                <th>{{ 'Login'|trans }}</th>
                {#<th>Password</th>#}
                <th>{{ 'Role'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                {#<th>{{ 'description'|trans }}</th>#}
                {#<th>{{ "Avatar"|trans }}</th>#}
                <th>{{ 'Phone'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>


        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.userName }}</a></td>

                <td>{{ entity.username }}</td>
                {#<td>{{ entity.password }}</td>#}

                {#<td>{{ entity.roles }}</td>#}

                {% for key,role in roles %}
                    {% for keys,roler in entity.roles %}
                        {% if(role == roler)  %}
                            <td>{{ role }}</td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <td>{{ entity.email }}</td>
                {#<td>{{ entity.description }}</td>#}
                {#<td>{{ entity.avatar }}</td>#}
                <td>{{ entity.phone }}</td>
                <td>
                <ul>

                    <li>
                        <a href="{{ path('users_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
