{% extends '::base.html.twig' %}
{% block body %}

    <h1>Contact list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Client</th>
                <th>User</th>
                <th>Type</th>
                <th>Desctiption</th>
                <th>Nextdatecontact</th>
                <th>Userdoer</th>
                <th>Project</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('contact_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>

                {% for key,client in clients %}

                    {% if key == entity.client %}
                        <td>{{ client }}</td>
                    {% endif %}

                {% endfor %}




                {% for key,user in users %}

                    {% if key ==  entity.user %}
                        <td>{{ user }}</td>
                    {% endif %}

                {% endfor %}


                {#<td>{{ entity.type }}</td>#}
                {% for key,type in types %}

                    {% if key ==  entity.type %}
                        <td>{{ type }}</td>
                    {% endif %}

                {% endfor %}

                <td>{{ entity.desctiption }}</td>
                <td>{% if entity.nextDateContact %}{{ entity.nextDateContact|date('Y-m-d H:i:s') }}{% endif %}</td>



                {% for key,user in users %}

                    {% if key ==  entity.userDoer %}
                        <td>{{ user }}</td>
                    {% endif %}

                {% endfor %}


                {% for key,project in projects %}

                    {% if key == entity.project %}
                        <td>{{ project }}</td>
                    {% endif %}

                {% endfor %}
                <td>
                <ul>
                    <li>
                        <a href="{{ path('contact_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('contact_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('contact_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
