{% extends '::base.html.twig' %}
{% block body %}

    <h1>Contact</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Client</th>
                {% for key,client in clients %}

                    {% if key == entity.client %}
                        <td>{{ client }}</td>
                    {% endif %}

                {% endfor %}
            </tr>
            <tr>
                <th>User</th>
                {% for key,user in users %}

                    {% if key ==  entity.user %}
                        <td>{{ user }}</td>
                    {% endif %}

                {% endfor %}
            </tr>
            <tr>
                <th>Type</th>
                {% for key,type in types %}

                    {% if key ==  entity.type %}
                        <td>{{ type }}</td>
                    {% endif %}

                {% endfor %}
            </tr>
            <tr>
                <th>Desctiption</th>
                <td>{{ entity.desctiption }}</td>
            </tr>
            <tr>
                <th>Nextdatecontact</th>
                <td>{{ entity.nextDateContact|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Userdoer</th>
                {% for key,user in users %}

                    {% if key ==  entity.userDoer %}
                        <td>{{ user }}</td>
                    {% endif %}

                {% endfor %}
            </tr>
            <tr>
                <th>Project</th>
                {% for key,project in projects %}

                    {% if key == entity.project %}
                        <td>{{ project }}</td>
                    {% endif %}

                {% endfor %}
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('contact') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('contact_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
