{% extends '::base.html.twig' %}
{% block body %}

    <h1>
        {{ 'Project list'|trans }}
    </h1>



    <div class="right">
        <ul>
            <li>
                <a href="{{ path('project_new') }}">
                    {{ 'Create a new entry'|trans }}
                </a>
            </li>
            <li> <a href="{{ path('project') }}">{{ 'look my project'|trans }}</a></li>
        </ul>
    </div>

    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>{{ 'Projectname'|trans }}</th>
            {#<th>{{ 'Projectdescription'|trans }}</th>#}
            <th>{{ 'Projectmanager'|trans }}</th>
            {#<th>{{ 'Projectcreator'|trans }}</th>#}
            {#<th>{{ 'Datecreate'|trans }}</th>#}
            <th>{{ 'Datefinish'|trans }}</th>
            <th>{{ 'Client'|trans }}</th>
            <th>{{ 'Summ'|trans }}</th>
            <th>{{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.projectName }}</a></td>

                {#<td>{{ entity.projectDescription }}</td>#}
                <td>
                {% for key,user in users %}

                    {% if key == entity.projectManager %}
                        {{ user }}
                    {% endif %}

                {% endfor %}
                </td>


                {#<td>{% if entity.dateCreate %}{{ entity.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                <td>{% if entity.dateFinish %}{{ entity.dateFinish|date('Y-m-d H:i:s') }}{% endif %}</td>

                <td>
                {% for key,client in clients %}

                    {% if key == entity.client %}
                       {{ client }}
                    {% endif %}

                {% endfor %}
                </td>

                <td>{{ entity.summ }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('project_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>





    <h1>
        {{ 'Project list iisue'|trans }}
    </h1>

    <div class="right">
        <ul>
            <li>
                <a href="{{ path('project_new') }}">
                    {{ 'Create a new entry'|trans }}
                </a>
            </li>
        </ul>
    </div>

    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>{{ 'Projectname'|trans }}</th>
            {#<th>{{ 'Projectdescription'|trans }}</th>#}
            <th>{{ 'Projectmanager'|trans }}</th>
            {#<th>{{ 'Projectcreator'|trans }}</th>#}
            {#<th>{{ 'Datecreate'|trans }}</th>#}
            <th>{{ 'Datefinish'|trans }}</th>
            <th>{{ 'Client'|trans }}</th>
            <th>{{ 'Summ'|trans }}</th>
            <th>{{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in projectIssueExecutor %}
            <tr>
                <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.projectName }}</a></td>

                {#<td>{{ entity.projectDescription }}</td>#}
                <td>
                {% for key,user in users %}

                    {% if key == entity.projectManager %}
                        {{ user }}
                    {% endif %}

                {% endfor %}
                </td>


                {#<td>{% if entity.dateCreate %}{{ entity.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                <td>{% if entity.dateFinish %}{{ entity.dateFinish|date('Y-m-d H:i:s') }}{% endif %}</td>

                <td>
                {% for key,client in clients %}

                    {% if key == entity.client %}
                        {{ client }}
                    {% endif %}

                {% endfor %}
                </td>

                <td>{{ entity.summ }}</td>
                <td>
                    <ul>

                        <li>
                            <a href="{{ path('project_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
