{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.projectName }}</h1>

    <div class="row">
        <div class="col-md-4">


            <table class="record_properties">
                <tbody>
                <tr>
                    <th>{{ 'id'|trans }}</th>
                    <td>{{ entity.id }}</td>
                </tr>


                <tr>
                    <th>{{ 'Projectmanager'|trans }}</th>
                    {% for key,user in users %}

                        {% if key == entity.projectManager %}
                            <td><a href="{{ path('users_show', { 'id': key }) }}">{{ user }}</a></td>
                        {% endif %}

                    {% endfor %}
                </tr>
                <tr>
                    <th>{{ 'Projectcreator'|trans }}</th>
                    {% for key,user in users %}

                        {% if key == entity.projectCreator %}
                            <td><a href="{{ path('users_show', { 'id': key }) }}">{{ user }}</a></td>
                        {% endif %}

                    {% endfor %}
                </tr>
                <tr>
                    <th>{{ 'Datecreate'|trans }}</th>
                    <td>{{ entity.dateCreate|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>{{ 'Datefinish'|trans }}</th>
                    <td>{{ entity.dateFinish|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>{{ 'Client'|trans }}</th>
                    {% for key,client in clients %}

                        {% if key == entity.client %}
                            <td><a href="{{ path('client_show', { 'id': key }) }}">{{ client }}</a>
                                </td>
                        {% endif %}

                    {% endfor %}

                </tr>
                <tr>
                    <th>{{ 'Summ'|trans }}</th>
                    <td>{{ entity.summ }}</td>
                </tr>
                </tbody>
            </table>
            <div class="right">
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('project') }}">
                            {{ 'Back to the list'|trans }}

                        </a>
                    </li>
                    <li>
                        <a href="{{ path('project_edit', { 'id': entity.id }) }}">
                            {{ 'edit'|trans }}
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            </div>

        </div>
        <div class="col-md-8">
            <div class="description">
                {{ 'Projectdescription'|trans }}:<br>
                {{ entity.projectDescription }}
            </div>
        </div>
    </div>


    <h2>{{ 'Issue list'|trans }}</h2>
    <div class="right">
        <ul>
            <li>
                <a href="{{ path('issue_new') }}">
                    {{ 'Create a new entry'|trans }}
                </a>
            </li>
        </ul>
    </div>


    <table class="records_list">
        <thead>
        <tr>
            {#<th>Id</th>#}
            <th>{{ "Issuename"|trans }}</th>
            <th>{{ 'Issuedescription'|trans }}</th>
            {#<th>{{ 'Issueautor'|trans }}</th>#}
            <th>{{ 'Issueexecutor'|trans }}</th>
            <th>{{ 'Datecreate'|trans }}</th>

            <th>{{ 'status'|trans }}</th>

            <th>{{ 'Datestart'|trans }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for issue in issuearr %}
            <tr>
                {#<td><a href="{{ path('issue_show', { 'id': issue.id }) }}">{{ issue.id }}</a></td>#}
                <td><a href="{{ path('issue_show', { 'id': issue.id }) }}">{{ issue.issueName }}</a> </td>
                <td>{{ issue.issueDescription }}</td>
                {#{% for key,user in users %}#}

                    {#{% if key == issue.issueAutor %}#}
                        {#<td>{{ user }}</td>#}
                    {#{% endif %}#}

                {#{% endfor %}#}
                {#<td>{{ entity.issueExecutor }}</td>#}

                {% for key,user in users %}

                    {% if key == issue.issueExecutor %}
                        <td><a href="{{ path('users_show', { 'id': issue.issueExecutor }) }}">{{ user }}</a></td>
                        {#<td>{{ user }}</td>#}
                    {% endif %}

                {% endfor %}


                <td>{% if issue.dateCreate %}{{ issue.dateCreate|date('Y-m-d H:i') }}{% endif %}</td>
                {#<td>{% if issue.dateFinish %}{{ issue.dateFinish|date('Y-m-d H:i:s') }}{% endif %}</td>#}


                {#<td>{{ issue.status }}</td>#}
                {% for key,status in statuses %}

                    {% if key == issue.status %}
                        <td>{{ status }}</td>
                    {% endif %}

                {% endfor %}

                {#<td>{{ issue.summa }}</td>#}
                <td>{% if issue.dateStart %}{{ issue.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>



                <td>
                    <ul>

                        <li>
                            <a href="{{ path('issue_edit', { 'id': issue.id }) }}">{{ 'edit'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <h2>{{ 'Contact list'|trans }} {{ 'with client'|trans }}</h2>
    <div class="right">
        <ul>
            <li>
                <a href="{{ path('contact_new') }}">
                    {{ "Create a new entry"|trans }}
                </a>
            </li>
        </ul>
    </div>

    <table class="records_list">
        <thead>
        <tr>

            <th>{{ 'Date'|trans }}</th>
            <th>{{ 'User contact'|trans }}</th>
            <th>{{ 'Type contact'|trans }}</th>
            <th>{{ 'description'|trans }}</th>
            <th>{{ 'Nextdatecontact'|trans }}</th>


            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in contactProject %}
            <tr>

                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>

                {% for key,user in users %}

                    {% if key ==  entity.user %}
                        <td>{{ user }}</td>
                    {% endif %}

                {% endfor %}


                {#<td>{{ entity.type }}</td>#}
                {% for key,type in types %}

                    {% if key ==  entity.type %}
                        <td>{{ type }}</td>
                    {% endif %}

                {% endfor %}

                <td><a href="{{ path('contact_show', { 'id': entity.id }) }}">{{ entity.desctiption }}</a></td>
                <td>{% if entity.nextDateContact %}{{ entity.nextDateContact|date('Y-m-d H:i:s') }}{% endif %}</td>



                {#{% for key,user in users %}#}

                    {#{% if key ==  entity.userDoer %}#}
                        {#<td>{{ user }}</td>#}
                    {#{% endif %}#}

                {#{% endfor %}#}

                <td>
                    <ul>

                        <li>
                            <a href="{{ path('contact_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <h2>{{ 'Contact list'|trans }} {{ 'with doer'|trans }}</h2>
    <div class="right">
        <ul>
            <li>
                <a href="{{ path('contact_new') }}">
                    {{ "Create a new entry"|trans }}
                </a>
            </li>
        </ul>
    </div>

    <table class="records_list">
        <thead>
        <tr>

            <th>{{ 'Date'|trans }}</th>
            <th>{{ 'User contact'|trans }}</th>
            <th>{{ 'Type contact'|trans }}</th>
            <th>{{ 'description'|trans }}</th>
            <th>{{ 'Nextdatecontact'|trans }}</th>
            <th>{{ 'Doer'|trans }}</th>


            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in contactProjectDoer %}
            <tr>

                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>

                {% for key,user in users %}

                    {% if key ==  entity.user %}
                        <td>{{ user }}</td>
                    {% endif %}

                {% endfor %}


                {#<td>{{ entity.type }}</td>#}
                {% for key,type in types %}

                    {% if key ==  entity.type %}
                        <td>{{ type }}</td>
                    {% endif %}

                {% endfor %}

                <td><a href="{{ path('contact_show', { 'id': entity.id }) }}">{{ entity.desctiption }}</a></td>
                <td>{% if entity.nextDateContact %}{{ entity.nextDateContact|date('Y-m-d H:i:s') }}{% endif %}</td>



                {% for key,user in users %}

                {% if key ==  entity.userDoer %}
                <td>{{ user }}</td>
                {% endif %}

                {% endfor %}

                <td>
                    <ul>

                        <li>
                            <a href="{{ path('contact_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>









{% endblock %}
