{% extends '@Site/loyautportfolio.html.twig' %}



{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="cdi">
                <div class="container">
                    <div class="row p-t-3">
                        <h1 class="white text-xs-center p-t-3">Верстка для сайта CDI</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row p-y-2">

                    <b>Задача</b><br>
                    <p>
                        Верстка страниц.
                        Особенность проекта: проект тестировался на кросбраузерность и кросплатформенность
                        при помоши сервиса https://www.browserstack.com/.
                        Работоспособность была протестированная в 10 браузерах (все версии включая ИЕ 8), на всех доступных платформах.
                        Выделенными для этих целей отдельными тестировщиками, составлением карт ошибок и их исправлением
                    </p>

                    <b>Работу выполнил</b>
                    <p>Евгений Бондаренко</p>

                </div>
                </div>
            <div class="container">
                <div class="row">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/CDI-Working-Pages-v7-1.png') }}" alt="cdi">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/CDI-Working-Pages-v7-2.png') }}" alt="cdi">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/CDI-Working-Pages-v7-3.png') }}" alt="cdi">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/CDI-Working-Pages-v7-4.png') }}" alt="cdi">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/CDI-Working-Pages-v7-6.png') }}" alt="cdi">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/CDI-Working-Pages-v7-7.png') }}" alt="cdi">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/CDI-Working-Pages-v7-8.png') }}" alt="cdi">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/CDI-Working-Pages-v7-9.png') }}" alt="cdi">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/CDI-Working-Pages-v7-10.png') }}" alt="cdi">
                </div>
            </div>
        </div>
    </div>


{% endblock %}

