{% extends '@Site/loyautportfolio.html.twig' %}



{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="pvd">
                <div class="container">
                    <div class="row p-t-3">
                        <h1 class="white text-xs-center p-t-3">Разработка концепта, верстка и привязка сайта к Системе управления Контентом Wordpress</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row p-y-2">

                    <b>Задача</b><br>
                    <p>
                        Разработать, сверстать Лейдинг и привезать его к системе управления контентом Wordpress

                    </p>

                    <b>Работу выполнил</b>
                    <p>Евгений Бондаренко</p>

                </div>
            </div>
            <div class="container">
                <div class="row">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/pvdom/Perilavdom1.png') }}" alt="Перила в дом">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/pvdom/Perilavdom2.png') }}" alt="Перила в дом">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/pvdom/Perilavdom3.png') }}" alt="Перила в дом">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/pvdom/Perilavdom4.png') }}" alt="Перила в дом">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/pvdom/Perilavdom5.png') }}" alt="Перила в дом">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/pvdom/Perilavdom6.png') }}" alt="Перила в дом">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/pvdom/Perilavdom7.png') }}" alt="Перила в дом">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/pvdom/Perilavdom8.png') }}" alt="Перила в дом">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/pvdom/Perilavdom9.png') }}" alt="Перила в дом">

                </div>
            </div>
        </div>
    </div>


{% endblock %}

