{% extends '@Site/loyautportfolio.html.twig' %}



{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="bss">
                <div class="container">
                    <div class="row p-t-3">
                        <h1 class="white text-xs-center p-t-3">Верстка фреймворка Суперлатив</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row p-y-2">
                    <b>Клиент</b><br>
                    <p>Физическое лицо: Виталий</p><br>

                    <b>Задача</b><br>
                    <p>
                        Верстка элементов фреймвока Superlative, фреймворк по заказу сделан на основе bootstrap4 альфа версии,
                        Jquery 2, использованы технологии sass/scss, gulp

                    </p>

                    <b>Работу выполнил</b>
                    <p>Евгений Бондаренко</p>

                </div>
                <div class="row">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/blog_grade.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/blog_text_store.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/blog_textmedia_grade.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/card.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/catalog.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/ecommerce_grade.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/ecommerce_store.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/mobile.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/modal_grade.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/modal_store.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/nav_footer_grade.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/nav_footers_store.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/nav_grade.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/nav_store.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/promo_grade.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/promo_store.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/slider.jpg') }}" alt="superlative">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/superlative/social.jpg') }}" alt="superlative">
                </div>
            </div>
        </div>
    </div>


{% endblock %}

