{% extends '::base.html.twig' %}

{% block body -%}



    <h1>{{ 'Issue edit'|trans }}</h1>

    {#<button class="btn btn-success" type="submit">Отправить</button>#}

    <ul class="record_actions pull-right">
        <li>
            <a href="{{ path('issue') }}">
                {{ 'Back to issue list'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('project_show', { 'id': entity.project }) }}">
                {{ 'Back to project'|trans }}

            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>



    {#{{ form(edit_form) }}#}

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    <div class="clearfix"></div>

    {{ form_label(edit_form.issuePrioritet) }}
    {{ form_errors(edit_form.issuePrioritet) }}
    {{ form_widget(edit_form.issuePrioritet) }}

    {{ form_label(edit_form.project) }}
    {{ form_errors(edit_form.project) }}
    {{ form_widget(edit_form.project) }}








    <div class="row">
        <div class="col-xs-8">
            {{ form_label(edit_form.issueName) }}
            {{ form_errors(edit_form.issueName) }}
            {{ form_widget(edit_form.issueName) }}
        </div>
        <div class="col-xs-4">
            {{ form_label(edit_form.status) }}
            <br>
            {{ form_errors(edit_form.status) }}
            {{ form_widget(edit_form.status) }}
        </div>



    </div>
    <div class="clearfix"></div>





    <div class="clearfix"></div>




    {{ form_label(edit_form.issueDescription) }}
    {{ form_errors(edit_form.issueDescription) }}
    {{ form_widget(edit_form.issueDescription) }}




    {{ form_end(edit_form) }}

    {% block javascripts %}
        <script src="{{ asset('js/issue.js') }}" type="text/javascript"></script>
    {% endblock %}
{% endblock %}
