{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'Issue creation'|trans }}</h1>
    <h2>{{ 'project'|trans }}: {{ project }}</h2>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('issue') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
