{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Issue</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Issuename</th>
                <td>{{ entity.issueName }}</td>
            </tr>
            <tr>
                <th>Issuedescription</th>
                <td>{{ entity.issueDescription }}</td>
            </tr>
            <tr>
                <th>Issueautor</th>
                {% for key,user in users %}

                    {% if key == entity.issueAutor %}
                        <td>{{ user }}</td>
                    {% endif %}

                {% endfor %}
            </tr>
            <tr>
                <th>Issueexecutor</th>
                {% for key,user in users %}

                    {% if key == entity.issueExecutor %}
                        <td>{{ user }}</td>
                    {% endif %}

                {% endfor %}
            </tr>
            <tr>
                <th>Datecreate</th>
                <td>{{ entity.dateCreate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datefinish</th>
                <td>{{ entity.dateFinish|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Status</th>
                {% for key,status in statuses %}

                    {% if key == entity.status %}
                        <td>{{ status }}</td>
                    {% endif %}

                {% endfor %}
            </tr>
            <tr>
                <th>Summa</th>
                <td>{{ entity.summa }}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{{ entity.dateStart|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Project</th>
                {% for key,project in projects %}

                    {% if key == entity.project %}
                        <td>{{ project }}</td>
                    {% endif %}

                {% endfor %}
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('project_show', { 'id': entity.project }) }}">
            {{ 'Back to project'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('issue_edit', { 'id': entity.id }) }}">
            {{ 'edit'|trans }}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
