
    <ul class="list-unstyled">
        <li><a class="hover-text-decoration-none" href="{{ path('comandos') }}">Наша Команда</a></li>
        <li><a class="hover-text-decoration-none" href="{{ path('customers') }}">Клиентам</a></li>
        <li><a class="hover-text-decoration-none" href="{{ path('portfolio') }}">Портфолио</a></li>
        <li><a class="hover-text-decoration-none" href="{{ path('partner') }}">Партнеры</a></li>
        <li><a class="hover-text-decoration-none" href="{{ path('blog') }}">Блог</a></li>
        <li><a class="hover-text-decoration-none" href="{{ path('colleague') }}">Коллегам</a></li>
    </ul>
